<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154628156024-gekd9e9omnqpm80648h2imkfv5mb3kmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154628156024-gekd9e9omnqpm80648h2imkfv5mb3kmr</string>
	<key>API_KEY</key>
	<string>AIzaSyA-DxA0q4r8ofFAfFEKvFXYTY88zy5nzeM</string>
	<key>GCM_SENDER_ID</key>
	<string>154628156024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ashapps.Lab6</string>
	<key>PROJECT_ID</key>
	<string>todoauth-56fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>todoauth-56fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154628156024:ios:4ad2c19f516f02a8bcdb8d</string>
</dict>
</plist>